body {
    height: 100vh;
}
// background: url(/workspace/react-hello-webapp/src/img/background.jpg) no-repeat center center fixed;
// background-size: cover;

// navbar left items removed from the end 
body .nav-item:last-child {
  padding-right: 10.5em;
}

body .nav-item {
  padding: 0.9em
}

body .navbar-brand {
  padding-left: 8rem;
}

a {
  font-size: 1.2em;
  font-weight: 500;
  color: black;
}

a:hover {
    color: #28A745;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #28A745;
}

.dropdown:hover .dropdown-content {
  display: block;
}

