header {
    height: 100vh;
}

:root {
--bggradient: linear-gradient(to bottom,
    black, gray);
}

header a {
  font-size: 0.9em;
  color: whitesmoke
}

header {
  background: var(--bggradient);
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #FFC107;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em
}

header .navbar-brand {
  padding-left: 8rem;
}

header .navlink:hover {
  color: black;
}